@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin/_LayoutLogin.cshtml";
}

@*<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>*@

@*<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a asp-area="Views" asp-page="/Home/Index" class="h1"><b>Food-T</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Reset Password Please Enter your email</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" asp-for="Input.Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>*@

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@


<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div class="
          auth-wrapper
          d-flex
          no-block
          justify-content-center
          align-items-center
          bg-dark
        "
     style="height: 100vh">
    <div class="auth-box bg-dark border-top border-secondary">
        <div id="recoverform">
            <div class="text-center">
                <span class="text-white">
                    Enter your e-mail address below and we will send you
                    instructions how to recover a password.
                </span>
            </div>
            <div class="row mt-3">
                <!-- Form -->
                <form class="col-12" method="post">
                    <!-- email -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger text-white h-100"
                                  id="basic-addon1">
                                <i class="mdi mdi-email fs-4"></i>
                            </span>
                        </div>
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Email Address"
                               aria-label="Username"
                               aria-describedby="basic-addon1"
                               asp-for="Input.Email" />
                    </div>
                    <!-- pwd -->
                    <div class="row mt-3 pt-3 border-top border-secondary">
                        <div class="col-12">
                            <a class="btn btn-danger" id="forgot-password" asp-page="./Login">Back to Login</a>

                            <button class="btn btn-info float-end"
                                    type="submit"
                                    name="action">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>