@model IEnumerable<Food.Models.CheckOutModel>

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<!-- catg header banner section -->
@*<section id="aa-catg-head-banner">
    <img src="/images/banner/foodservice-mfg-hero-1920x300.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Checkout Page</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Checkout</li>
                </ol>
            </div>
        </div>
    </div>
</section>*@
<div class="hero-wrap hero-bread" style="background-image: url('/assetsb/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
                <h1 class="mb-0 bread">Checkout</h1>
            </div>
        </div>
    </div>
</div>

<!-- / catg header banner section -->
<!-- Cart view section -->

<!-- / Cart view section -->




<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 ftco-animate">
                <form asp-controller="Checkout" asp-action="AddToBill" method="post" class="billing-form">
                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <div class="row align-items-end">
                        <form>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">Firt Name</label>
                                    <input type="text" class="form-control" placeholder="First Name" name="FirstName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last Name" name="LastName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailaddress">Email Address</label>
                                    <input type="text" class="form-control" placeholder="Email" name="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" class="form-control" placeholder="Phone" name="Phone">
                                </div>
                            </div>
                           @* <div class="w-100"></div>*@
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="country">State / Country</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="Country" id="" class="form-control">
                                            <option value="0">Select Your Country</option>
                                            <option value="France">France</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="South Korea">South Korea</option>
                                            <option value="Hongkong">Hongkong</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Australia">Australia</option>                                          
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="Canada">Canada</option>
                                            <option value="China">China</option>                                          
                                            <option value="India">India</option>                                                                     
                                            <option value="Mexico">Mexico</option>
                                            <option value="UAE">UAE</option>
                                            <option value="UK">UK</option>
                                            <option value="USA">USA</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                          @*  <div class="w-100"></div>*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="streetaddress" name="Address">Street Address</label>
                                    <input type="text" class="form-control" placeholder="House number and street name">
                                </div>
                            </div>
@*                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
                                </div>
                            </div>*@
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="towncity">Town / City</label>
                                    <input type="text" class="form-control" placeholder="City" name="City">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="postcodezip">Postcode / ZIP *</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                           @* <div class="w-100"></div>


                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group mt-4">
                                    <div class="radio">
                                        <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
                                        <label><input type="radio" name="optradio"> Ship to different address</label>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <input type="submit" value="Payment" id="SubmitInDetail" hidden />
                            </div>
                        </form>
                       
                    </div>
                </form><!-- END -->
            </div>
            <div class="col-xl-5">
                <div class="row mt-5 pt-3">
                    <div class="col-md-12 d-flex mb-5">
                        <div class="cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Cart Total</h3>
                            @foreach (var item in Model)
                            {

                                int priceProduct = item.checkout_Price * item.checkout_Quantity;

                                <p class="d-flex">
                                    <span>@item.checkout_ProductName <strong> x  @item.checkout_Quantity</strong></span>
                                    <span>$@priceProduct</span>
                                </p>
                                

                            }
                            <hr>
                            <p class="d-flex">
                                <span>Subtotal</span>
                                <span>$@ViewBag.Retotal</span>
                            </p>
                            <p class="d-flex">
                                <span>Delivery</span>
                                <span>$@ViewBag.Ship</span>
                            </p>
                            <p class="d-flex">
                                <span>Discount</span>
                                <span>$@ViewBag.Discount</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Total</span>
                                <span>$@ViewBag.Total</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="cart-detail p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Payment Method</h3>
         
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label for="cashdelivery"><input type="checkbox" id="cashdelivery" name="optionsRadios" class="mr-2"> Cash on Delivery</label>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" onclick="paymentButton()" value="Place an order" class="btn btn-primary py-3 px-4" />
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->



<script>
    function addToBill() {
        var a = document.querySelector("#page > div.colorlib-product > div > div:nth-child(2) > div.col-lg-8 > form > div > div:nth-child(12) > input[type=submit]").click();
    }


    function paymentButton()
    {
        var submitInFormDetail = document.getElementById("SubmitInDetail");
        submitInFormDetail.click();

    }
</script>