@using Microsoft.AspNetCore.Identity
@using Food.Entity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <span class="text" title="Manage">Hello @User.Identity.Name!</span>
    <form class="text" style="display:inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button  type="submit" class=" btn btn-link " style="color: white;">Logout</button>
    </form>
   @* <div style="display: inline" class="aa-header-top-right">
        <ul class="aa-head-top-nav-right">
            <li class="cart">
                <span title="Manage">Hello @User.Identity.Name!</span>
            </li>
            <li class="cart">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class=" btn btn-link ">Logout</button>
                </form>
            </li>
        </ul>
    </div>*@
}
else
{
    <div>
        <a class="text" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="text" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
@*<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div class="
          auth-wrapper
          d-flex
          no-block
          justify-content-center
          align-items-center
          bg-dark
        ">
    <div class="auth-box bg-dark border-top border-secondary">
        <div id="loginform">
            <div class="text-center pt-3 pb-3">
                <span class="db">
                    <img src="../assets/images/logo.png" alt="logo" />
                </span>
            </div>
            <!-- Form -->
            <form class="form-horizontal mt-3"
                  id="loginform"
                  action="index.html">
                <div class="row pb-4">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white h-100"
                                      id="basic-addon1">
                                    <i class="mdi mdi-account fs-4"></i>
                                </span>
                            </div>
                            <input type="text"
                                   class="form-control form-control-lg"
                                   placeholder="Username"
                                   aria-label="Username"
                                   aria-describedby="basic-addon1"
                                   required="" />
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-warning text-white h-100"
                                      id="basic-addon2">
                                    <i class="mdi mdi-lock fs-4"></i>
                                </span>
                            </div>
                            <input type="text"
                                   class="form-control form-control-lg"
                                   placeholder="Password"
                                   aria-label="Password"
                                   aria-describedby="basic-addon1"
                                   required="" />
                        </div>
                    </div>
                </div>
                <div class="row border-top border-secondary">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="pt-3">
                                <button class="btn btn-info"
                                        id="to-recover"
                                        type="button">
                                    <i class="mdi mdi-lock fs-4 me-1"></i> Lost password?
                                </button>
                                <button class="btn btn-success float-end text-white"
                                        type="submit">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="recoverform">
            <div class="text-center">
                <span class="text-white">
                    Enter your e-mail address below and we will send you
                    instructions how to recover a password.
                </span>
            </div>
            <div class="row mt-3">
                <!-- Form -->
                <form class="col-12" action="index.html">
                    <!-- email -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger text-white h-100"
                                  id="basic-addon1">
                                <i class="mdi mdi-email fs-4"></i>
                            </span>
                        </div>
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Email Address"
                               aria-label="Username"
                               aria-describedby="basic-addon1" />
                    </div>
                    <!-- pwd -->
                    <div class="row mt-3 pt-3 border-top border-secondary">
                        <div class="col-12">
                            <a class="btn btn-success text-white"
                               href="#"
                               id="to-login"
                               name="action">Back To Login</a>
                            <button class="btn btn-info float-end"
                                    type="button"
                                    name="action">
                                Recover
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

*@

